:root {
    --color-red-norml: rgb(191, 39, 56);
    --color-red-hover: rgb(204, 42, 60);
    --color-red-active: rgb(153, 31, 45);
    --color-red-disabled: rgb(234, 234, 234);
    --color--grey-normal: rgb(245, 245, 245);
    --color-red-error-bg: rgba(191, 39, 56, 0.12);
    --color-black-normal: rgb(38, 38, 51);
    --color-white-normal: rgb(255, 255, 255);
    --color-grey-light: rgb(121, 121, 134);
    --color-grey-superlight: rgb(173, 173, 175);
    --color-grey-dark: rgb(42, 42, 46);
    --color-black-dark: rgb(34, 34, 37);
    --padding: 127px;
    --resetcolor: rgb(255, 255, 255);
}
